<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:attr="data-bs-theme=${currentStoredTheme}">
<head>
  <th:block th:insert="~{fragments/main :: baseHead}"></th:block>
  <title>Linode</title>
</head>
<body>
<div th:replace="~{fragments/main :: navigation}"></div>
<main>
  <h2 class="text-center sans-bold">Save files</h2>

  <div class="container">
    <ul class="list-group">
      <li th:each="file : ${files}" th:text="${file.name}">

      </li>
    </ul>
  </div>

</main>
<footer>
  <div th:replace="~{fragments/main :: footer}"></div>
</footer>
</body>
</html>