<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:attr="data-bs-theme=${currentStoredTheme}">
<head>
  <th:block th:insert="~{fragments/main :: baseHead}"></th:block>
  <title>Control Center</title>
</head>
<body>
<div th:replace="~{fragments/main :: navigation}"></div>
<main>
  <h2 class="text-center sans-bold">Control Center</h2>

  <div class="container">
    <th:block th:if="${message}">
      <div class="alert alert-success" role="alert" style="white-space: pre;" th:text="${message}">
        A simple success alert, check it out!
      </div>
    </th:block>

    <div class="text-center">
      <form th:method="post" th:action="@{/control-center/system-update}">
        <button type="submit" class="btn btn-primary">Run system update</button>
      </form>
    </div>

  </div>

</main>
<footer>
  <div th:replace="~{fragments/main :: footer}"></div>
</footer>
</body>
</html>