<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:attr="data-bs-theme=${currentStoredTheme}">
<head>
  <th:block th:insert="~{fragments/main :: baseHead}"></th:block>
  <title>Dns</title>
</head>
<body>
<div th:replace="~{fragments/main :: navigation}"></div>
<main class="container">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record: ${dnsRecords}">
      <td th:text="${record.name()}"></td>
      <td th:text="${record.content()}"></td>
      <td th:text="${record.type()}"></td>
    </tr>
    </tbody>
  </table>
</main>
<footer>
  <div th:replace="~{fragments/main :: footer}"></div>
</footer>
</body>
</html>