<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:attr="data-bs-theme=${currentStoredTheme}">
<head>
  <th:block th:insert="~{fragments/main :: baseHead}"></th:block>
  <title>Menu</title>

  <script src="https://unpkg.com/htmx.org@2.0.4"></script>

</head>
<body>
<div th:replace="~{fragments/main :: navigation}"></div>
<main>
  <h2 class="text-center sans-bold">Menu</h2>

  <div class="container text-center" id="menu">
    <button class="btn btn-primary" hx-get="/api/hx/menu/edit" hx-target="#menu">Edit</button>
    <div th:each="item : ${menuItems}">
      <h3 th:text="${item.formattedDate()}"></h3>
      <p th:text="${item.description()}"></p>
    </div>

  </div>


</main>
<footer>
  <div th:replace="~{fragments/main :: footer}"></div>
</footer>
</body>
</html>