<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:attr="data-bs-theme=${currentStoredTheme}">
<head>
  <th:block th:insert="~{fragments/main :: baseHead}"></th:block>
  <title>Linode</title>
</head>
<body>
<div th:replace="~{fragments/main :: navigation}"></div>
<main>
  <h2 class="text-center sans-bold">Linode instances</h2>

  <div class="container m-auto">
    <div class="container text-center">
      <a class="btn btn-primary" href="/linode/create">Create new instance</a>

    </div>
    <div id="form-container"></div>
    <div class="container pt-1">
      <div class="row row-gap-2" id="instance-row">
        <a th:each="instance: ${instances}" th:href="@{/linode/{id}(id=${instance.linodeId().id()})}"
           class="linode-instance container m-auto "
           style="width: 30rem;">

          <div>
            <h3 th:text="${instance.prettyPrintLabel()}"></h3>
            <p class="small"><strong>ID:</strong> <span th:text="${instance.linodeId().id()}"/></p>
          </div>
          <div class="d-flex">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">wifi</span>
                <span th:text="${instance.prettyPrintIp()}"/>
              </div>
              <div class="d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">memory</span>
                <span th:text="${instance.prettyPrintSpecs()}"/>
              </div>
              <div class="d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">label</span>
                <span th:text="${instance.prettyPrintTags()}"/>
              </div>
              <div class="d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">update</span>
                <span th:text="${instance.prettyPrintStatus()}"/>
              </div>
              <div class="d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">save</span>
                <span th:text="${instance.prettyPrintVolumeNames()}"/>
              </div>
            </div>
            <div class="d-flex align-items-end">
              <button class="btn btn-primary">Details</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
<footer>
  <div th:replace="~{fragments/main :: footer}"></div>
</footer>
</body>
</html>