<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:attr="data-bs-theme=${currentStoredTheme}">
<head>
  <th:block th:insert="~{fragments/main :: baseHead}"></th:block>
  <title>Index</title>
</head>
<body>
<div th:replace="~{fragments/main :: navigation}"></div>
<main>
  <div class="container w-50">
    <h1 th:text="${instance.prettyPrintLabel()}"></h1>
    <div class="row container row-gap-2">
      <div class="row g-3 row-cols-2">
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">circle</span>
          <div>
            <h4>Linode Id</h4>
            <p th:text="${instance.linodeId().id()}"></p>
          </div>
        </div>
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">person</span>
          <div>
            <h4>Owner</h4>
            <p th:text="${instance.owner()}"></p>
          </div>
        </div>
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">wifi</span>
          <div>
            <h4>Ip</h4>
            <p th:text="${instance.prettyPrintIp()}"></p>
          </div>
        </div>
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">memory</span>
          <div>
            <h4>System Information</h4>
            <p style="white-space: pre;" th:text="${instance.prettyPrintSpecs()}"></p>
          </div>
        </div>
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">label</span>
          <div>
            <h4>Subdomain</h4>
            <p th:text="${instance.subdomain()}"></p>
          </div>
        </div>
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">label</span>
          <div>
            <h4>Tags</h4>
            <p th:text="${instance.prettyPrintTags()}"></p>
          </div>
        </div>
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">update</span>
          <div>
            <h4>Status</h4>
            <p th:text="${instance.prettyPrintStatus()}"></p>
          </div>
        </div>
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">save</span>
          <div>
            <h4>Volumes</h4>
            <p th:text="${instance.prettyPrintVolumeNames()}"></p>
          </div>
        </div>
        <div class="col d-flex gap-1">
          <span class="material-symbols-outlined font-size-32">dns</span>
          <div>
            <h4>Server Type</h4>
            <p th:text="${instance.serverType()}"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex gap-2">
      <form method="post" th:action>
        <button type="submit" class="btn btn-primary">Install and setup minecraft</button>
      </form>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete instance
      </button>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Delete instance</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this instance?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form th:method="delete" th:action>
            <button type="submit" class="btn btn-primary">Delete instance</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>
<footer>
  <div th:replace="~{fragments/main :: footer}"></div>
</footer>
</body>
</html>