<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}"
      lang="en">

<head>
  <title>Linode</title>
  <meta charset=" UTF-8"/>

  <style>
    </style>
</head>
<body>
<main>
  <div>
    <h1>Linode</h1>
  </div>
  <div>
    <h2 class="text-center sans-bold">Minecraft Server</h2>

    <div class="" style="text-align: center;">
      <p th:text="${status} ?: 'Server is running'"></p>
      <p th:text="${ip} ?: '127.0.0.1'"></p>
      <button class="btn">Refresh</button>
      <button class="btn">Stop Server</button>
    </div>

  </div>
</main>>
</body>

</html>