<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}"
      lang="en">

<head>
  <title>Shortcut</title>
  <meta charset=" UTF-8"/>
</head>
<body>
<main>
  <h2 class="text-center sans-bold">Shortcuts</h2>
  <div class="text-center" style="width: 50%; margin: auto;">
    <div class="flex flex-center text-center">
      <table>
        <thead>
        <tr>
          <th>Project</th>
          <th>Shortcut</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody id="table-body">
        <tr th:each="entry : ${shortcuts}" th:id="|list-item-${entry.id()}|">
          <td th:text="${entry.project()}"></td>
          <td th:text="${entry.shortcut()}"></td>
          <td th:text="${entry.description()}"></td>
          <td><button class="btn" hx-swap="outerHTML" th:hx-target="|#list-item-${entry.id()}|" th:hx-get="|/hx/shortcut/edit/${entry.id()}|">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <form hx-post="/hx/shortcut" hx-swap="beforeend" hx-target="#table-body" hx-trigger="submit">
        <label>
          <input type="text" name="project" placeholder="Project">
        </label>
        <label>
          <input type="text" name="shortcut" placeholder="Shortcut">
        </label>
        <label>
          <input type="text" name="description" placeholder="Description">
        </label>
        <button class="btn" type="submit">Add</button>
      </form>
    </div>
  </div>

</main>
</body>

</html>