<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}"
       lang="en">

<head>
  <title>Test</title>
  <meta charset=" UTF-8"/>

  <style>
    .btn {
      padding: 0.5rem 1rem;
      border: 2px solid transparent;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }

    .btn:hover {
      border: 2px solid #0056b3;
    }

  </style>
</head>
<body>
<main>
  <div>
    <div class="flex">
      <h1>Start</h1>

      <div>

        <table>
          <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody id="table-body">
          <tr th:each="item : ${todoItems}" th:id="|list-item-${item.id}|">
            <td th:text="${item.id}">ID</td>
            <td th:text="${item.title}">Title</td>
            <td th:text="${item.description}">Description</td>
            <td>
              <button
                  th:hx-delete="|/api/todo/${item.id}|"
                  th:hx-target="|#list-item-${item.id}|"
                  hx-swap="outerHTML">
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <form hx-post="/api/todo" hx-swap="beforeend" hx-target="#table-body" hx-trigger="submit">
            <label>
              <input type="text" name="title" placeholder="Title">
            </label>
            <label>
              <input type="text" name="description" placeholder="Description">
            </label>
            <button type="submit">Add</button>
          </form>
        </div>
      </div>


      <!--      <div hx-get="/api/todo" hx-swap="innerHTML" hx-trigger="load"> SWAP ME</div>-->
      <div>
        <button class="btn" hx-post="/clicked" hx-swap="afterend">Click me</button>
        <button class="btn" hx-post="/clicked" hx-swap="afterend">Click me</button>
        <button class="btn" hx-post="/clicked" hx-swap="afterend">Click me</button>
        <button class="btn" hx-post="/clicked" hx-swap="afterend">Click me</button>
      </div>
    </div>
  </div>
</main>
</body>

</html>